<div data-id="<%= list.id %>"
     class="flex-shrink-0 w-[70vw] max-w-72 bg-base-200 rounded-lg p-4">
  
   <div class="flex mb-4 items-center">
     <div class="font-bold text-lg flex-1"><%= list.name %></div>
     <div class="drag-handle flex-none cursor-grab">
       <span>⠿</span>
     </div>
   </div>

  <ul id="list-<%= list.id %>"
    data-controller="sortable"
    data-sortable-group-value="cards"
    data-sortable-url-value="<%= move_card_path('CARD_ID') %>"
    class="space-y-3 min-h-[100px] h-full">

    <% list.cards.each do |card| %>
      <%= render "boards/card", card: card %>
    <% end %>
  </ul>
</div>
