<div data-id="<%= list.id %>"
     class="flex-shrink-0 w-[70vw] max-w-72 bg-base-200 rounded-lg p-4">
  
   <div class="flex mb-4 items-center">
     <div class="font-bold text-lg flex-1">
       <%= list.name %> <span id="list-<%= list.id %>-counter" class="badge"><%= list.cards_count %></span>
     </div>
     <div class="drag-handle flex-none cursor-grab">
       <span>⠿</span>
     </div>
   </div>

  <ul id="list-<%= list.id %>"
    data-controller="sortable"
    data-sortable-group-value="cards"
    data-sortable-url-value="<%= move_card_path('CARD_ID') %>"
    class="space-y-3 min-h-[100px] h-full">
    <li></li>

    <% list.cards.each do |card| %>
      <%= render "boards/card", card: card %>
    <% end %>

    <div id="new-card"
        data-action="click->modal#open"
        data-modal-url-value="<%= new_card_path(list_id: list.id) %>"
        class="bg-base-100 p-2 rounded cursor-pointer border-2 border-dashed opacity-20 hover:opacity-70 justify-center items-center flex">
      <div class="flex">
        <span class="text-5xl mb-2">+</span>
      </div>
    </div>
  </ul>
</div>
