<div class="card h-full flex flex-col">
  <h3 class="text-lg font-bold mb-4"><%= card.title %></h3>
  <div class="py-4">
    <p class="text-sm text-base-content/70 whitespace-pre-wrap"><%= card.body %></p>
  </div>
  <div class="text-xs text-base-content/50 mt-4">
    <p>List: <%= card.list.name %></p>
  </div>

  <div class="divider">Comments</div>
  <div class="md:px-4 flex-grow overflow-y-auto">
    <% if card.comments_count > 0 %>
      <%= turbo_frame_tag dom_id(card, :comments), src: comments_card_path(card), loading: :lazy do %>
        <div class="flex justify-center items-center py-4">
          <span class="loading loading-spinner loading-sm"></span>
        </div>
      <% end %>
    <% else %>
      No comments
    <% end %>
  </div>

  <div class="modal-action mt-auto">
    <%= button_to "Delete Card", card_path(card), method: :delete, class: "btn btn-error" %>
  </div>
</div>
